/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
}
.scaled-container {
    transform: scale(0.4); /* Cambia el 0.8 según el tamaño que quieras */
    transform-origin: right; /* Punto de origen del escalado */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    height: 100%;
    overflow: hidden; /* Elimina cualquier posible scroll */
}
h1 {
    color: #fff;
}

.game-container {
    text-align: center;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#timer {
    color: #fff;
    align-items: center;
    font-size: 1.2rem;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.memory-game {
    width: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    perspective: 1000px;
}

.memory-card {
    width: 100%;
    height: 150px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: center;
}

.memory-card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.front-face img,
.back-face img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la proporción de las imágenes */
}

.front-face {
    transform: rotateY(180deg);
}

.back-face {
    background-color: #333;
    color: #fff;
}
